name: Build source code and send to Capgo

on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build code and release
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        id: install_code
        run: bun install --frozen-lockfile
      - name: Test
        id: test_code
        run: bun run test
      - name: Build
        id: build_code
        run: bun run build
      - name: Build TS
        id: build_type
        run: bun run build:dts
      - uses: JS-DevTools/npm-publish@v4
        with:
          access: public
          token: ${{ secrets.NPM_TOKEN }}
