name: Build source code and test it

on:
  push:
    branches:
      - renovate/**
  pull_request:
    branches: [main]

jobs:
  web:
    runs-on: ubuntu-latest
    name: Build code and test
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        id: install_code
        run: bun install --frozen-lockfile
      - name: Lint
        id: lint_code
        run: bun run lint
      - name: Build
        id: build_code
        run: bun run build
      - name: Build Ts
        id: build_code_type
        run: bun run build:dts
      - name: Test
        id: test_code
        run: bun run test
